
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /route-en-direct/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /route-en-direct/index.html [L]
</IfModule>
